.header {
    background-color: #7D8B8C;
    width: auto;
    height: 130px;
    border: solid;
    border-color: black;
}

.footer {
    background-color: #7D8B8C;
    width: 100%;
    height: 130px;
    position: fixed;
    bottom: 0;
    border: solid;
    border-color: black;
}

.fntwht {
    color: white;
}

.fntblk {
    color: black;
}

.fnt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fntfancy {
    font-family: 'Lucida Calligraphy';
}

.fntblk {
    color: black;
}

.fnt18 {
    font-size: 18px;
}

.fnt16 {
    font-size: 16px;
}

.fnt15 {
    font-size: 15px;
}

.fnt50 {
    font-size: 50px;
}

.pd10 {
    padding: 10px;
}

.pdl15 {
    padding-left: 15px;
}

.pdl10 {
    padding-left: 10px;
}

.pdr15 {
    padding-right: 15px;
}

.pdr30 {
    padding-right: 30px;
}

.pdt20 {
    padding-top: 20px;
}

.pdt7 {
    padding-top: 7px;
}

.pdt30 {
    padding-top: 30px;
}

.pdl25 {
    padding-left: 25px;
}

.fntItal {
    font-style: italic;
}
